@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --main-color: #074867;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

img {
    max-width: 100%;
}

.custrom-btn {
    border: none !important;
    background-color: var(--main-color) !important;
    color: #ffffff !important;
    border-radius: 5px !important;
}
